<%= form_with(model: phone, local: true, class: :"dark-matter") do |form| %>
  <% if phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@phone.errors.count} #{t('message.error')} #{t('message.error_msg')}:" %></h2>

      <ul>
      <% phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contact_id %>
    <%= form.collection_select(:contact_id, @contact_options_for_select, :id, :name) %>
  </div>
  
  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit t('buttons.save'), class: 'button' %>&nbsp;&nbsp;&nbsp;
    <%= link_to t('buttons.back'), phones_path, class: 'button' %>
  </div>
<% end %>