<div class="dark-matter">
  <p id="notice"><%= notice %></p>

  <h1><%= "#{t('title.listing')} #{@contacts.model.model_name.human(count: @contacts.count)}" %></h1>

  <table>
    <thead>
      <tr>
        <th><%= @contacts.model.human_attribute_name("name") %></th>
        <th><%= @contacts.model.human_attribute_name("kind") %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr style="background: <%= cycle('#606060','#686868') %>">
          <td><%= contact.name %></td>
          <td><%= contact.kind.description %></td>
          <td class="action"><%= link_to t('buttons.edit'), edit_contact_path(contact) %></td>
          <td class="action"><%= link_to t('buttons.destroy'), contact, method: :delete, data: { confirm: t('message.confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <div class="page"><%= paginate @contacts %></div>
  <br>
  <div class="actions">
      <%= link_to "#{t('buttons.new')} #{@contacts.model.model_name.human(count: 1)}", new_contact_path, class: 'button' %>
      <%= link_to t('buttons.back'), bemvindo_path, class: 'button' %>
  </div>
</div>