<div class="dark-matter">
  <p id="notice"><%= notice %></p>

  <h1><%= "#{t('title.details')}" %></h1>

  <p>
    <strong><%= Contact.human_attribute_name("name") %>:</strong>
    <%= @contact.name %>
  </p>

  <p>
    <strong><%= Contact.human_attribute_name("email") %>:</strong>
    <%= @contact.email %>
  </p>

  <p>
    <strong><%= Contact.human_attribute_name("kind") %>:</strong>
    <%= @contact.kind.description %>
  </p>

  <p>
    <strong><%= Contact.human_attribute_name("rmk") %>:</strong>
    <br>
    <br>
    <%= @contact.rmk %>
  </p>
  <br>
  <br>
  <div class="actions">
      <%= link_to t('buttons.edit'), edit_contact_path(@contact), class: 'button' %>&nbsp;&nbsp;&nbsp;
      <%= link_to t('buttons.back'), contacts_path, class: 'button' %>
  </div>
</div>